.inputLabelDivContainer {
    display: flex;
    flex-direction: column;
    width: 28rem;
    margin: 1rem 0;
}

.inputLabelDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: inherit;
    margin: 0.2rem 0;
}

.inputLabel {
    color: var(--yellow-orange);
    height: fit-content;
    font-size: 1rem;
    margin: 0 0 0 0.6rem;
}

.numericalInput {
    width: 10rem;
    height: 2.2rem;
    font-size: 1.1rem;
    border-radius: 12px;
    text-align: center;
    background: transparent;
    border: 3px solid var(--tiffany-blue);
    color: var(--yellow-orange);
    margin: 0 0.6rem;
    font-family: "Overpass Mono", monospace;
}

.numericalInput:focus {
    border: 3px solid var(--brick-red);
    outline: none;
}

.numericalInput:hover {
    border: 3px solid var(--brick-red);
    outline: none;
}

.generateButton {
    margin: 1rem 0;
    border-radius: 0.8rem;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px 0 0 0;
    background: transparent;
    outline: none;
    border: 3px solid var(--tiffany-blue);
    color: var(--tiffany-blue);
    font-weight: bold;
    font-size: 1.1rem;
    font-family: "Overpass Mono", monospace;
}

.generateButton:hover {
    cursor: pointer;
    color: var(--brick-red);
    border: 3px solid var(--brick-red);
}

.generateButton:active {
    color: var(--yellow-orange);
    border: 3px solid var(--yellow-orange);
}

.randomLogo {
    transform: scale(0.9);
}

.copyButton {
    margin: 0;
    border-radius: 0.8rem;
    width: 8rem;
    height: 2.5rem;
    background: transparent;
    outline: none;
    color: var(--tiffany-blue);
    width: fit-content;
    height: fit-content;
    padding: 0;
    border: none;
}

.copyButton:hover {
    cursor: pointer;
    color: var(--brick-red);
}

.copyButton:active {
    color: var(--yellow-orange);
}

.copyLogo {
    transform: scale(0.7);
    margin-top: -0.5rem;
    margin-left: 0.5rem;
}

.resultDiv {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 1rem 0;
}

.generatedText {
    color: var(--yellow-orange);
    font-size: 1rem;
    width: 60rem;
    height: fit-content;
    overflow: hidden;
    border: 2px solid var(--tiffany-blue);
    padding: 0.5rem;
    margin: 0;
}

