.footerDiv {
    width: 100vw;
    height: fit-content;
    margin: 0 0 1rem 0;
}

.footerDiv>p {
    width: fit-content;
    height: fit-content;
    margin: 1rem auto;
    color: var(--brick-red);
    font-size: 1rem;
}

.footerDiv>p>a {
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--brick-red);
}

.footerDiv>p>a:hover {
    color: var(--yellow-orange);
}