@font-face {
  font-family: "Overpass Mono";
  src: local("Overpass Mono"),
    url(./fonts/OverpassMono-Light.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: 'Overpass Mono', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
